* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(77, 150, 168);
  --primary-color-light: rgb(143, 227, 249);
  --secondary-color: rgb(133, 95, 177);
  --secondary-color-light: rgb(217, 184, 255);
  --font-color: rgb(40, 40, 61);
  --gray-color: rgb(135, 135, 157);
  --white-color: rgb(250, 250, 250);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: var(--gray-color);
  font-size: 26px;
}

h1 {
  color: var(--font-color);
  font-size: 64px;
}

h2 {
  color: var(--font-color);
  font-size: 44px;
}

.overline {
  color: var(--primary-color);
  font-size: 26px;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.btn {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  padding: 1rem  2rem;
  border-radius: 25px 25px;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  transition: .002s;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-light);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color-light);
}