* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: 77, 150, 168;
  --primary-color-light: 143, 227, 249;
  --secondary-color: 133, 95, 177;
  --secondary-color-light: 217, 184, 255;
  --font-color: 40, 40, 61;
  --gray-color: 135, 135, 157;
  --white-color: 250, 250, 250;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: rgb(var(--gray-color));
  font-size: 26px;
}

h1 {
  color: rgb(var(--font-color));
  font-size: 64px;
}

h2 {
  color: rgb(var(--font-color));
  font-size: 44px;
}

.overline {
  display: block;
  color: rgb(var(--primary-color));
  font-size: 26px;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.whiter-text {
  opacity: .6;
}

.btn {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  padding: 1.2rem  3rem;
  border-radius: 100px 100px;
  border: none;
  color: rgb(var(--white-color));
  cursor: pointer;
  transition: .002s;
  margin: 5px;
  white-space: nowrap;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
}

.btn-primary:hover {
  background-color: rgb(var(--primary-color-light));
}

.btn-secondary {
  background-color: rgb(var(--secondary-color));
}

.btn-secondary:hover {
  background-color: rgb(var(--secondary-color-light));
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: auto;
}

.intro-section {
  display: grid;
  grid-template-rows: 380px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "leftFaces introArticle rightFaces";
  overflow: hidden;
}

.intro-section__article {
  grid-area: introArticle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-section__article > p {
  margin: 25px 0;
}

.intro-section__left-faces {
  grid-area: leftFaces;
  transform: translateX(-20px);
}

.intro-section__right-faces {
  grid-area: rightFaces;
  transform: translateX(20px);
}

.intro-section__right-faces,
.intro-section__left-faces {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-section__left-faces-block, 
.intro-section__right-faces-block {
  width: 28%;
  display: inline-block;
}

.intro-section__left-face img,
.intro-section__right-face img {
  width: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.intro-section__left-faces-block--middle {
  transform: translateY(-50px);
}

.intro-section__right-faces-block--middle {
  transform: translateY(50px);
}

.stylish-vertical-line {
  position: relative;
  height: 150px;
  margin: 100px 0;
}

.stylish-vertical-line--second {
  margin: 100px 0 0 0;
}

.stylish-vertical-line__line {
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 1px;
  border: 1px solid rgba(135, 135, 157, 0.3);
  opacity: .4;
  transform: translateX(-50%);
  z-index: -1;
}

.stylish-vertical-line__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.3);
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
  background-color: rgb(var(--white-color));
}

.stylish-vertical-line__number span {
  font-size: 15px;
  font-weight: 700;
  color: rgb(var(--gray-color));
}


.middle-section {
  margin: 0 40px 40px 40px;
}

.middle-section__small-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  overflow: hidden;
}

.middle-section__small-gallery img {
  width: 100%;
  border-radius: 10px;
}

.middle-section__article {
  margin: 80px auto 0 auto;
  width: 600px;
}

.middle-section__article * {
  text-align: center;
}

.middle-section__article p {
  margin-top: 30px;
}

footer {
  height: 350px;
  background:linear-gradient(0deg, rgba(var(--primary-color), 0.85), rgba(var(--primary-color), 0.85)), url(assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

footer p, 
footer h1 {
  color: rgb(var(--white-color));
}

@media (max-width: 1050px) {
  body { 
    font-size: 22px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }

  .stylish-vertical-line {
    margin: 70px 0;
  }

  .stylish-vertical-line--second {
    margin: 70px 0 0 0;
  }

  footer {
    height: 350px;
    padding: 50px;
    gap: 15px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  header {
    height: 120px;
  }

  .intro-section {
    grid-template-rows: 380px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftFaces rightFaces" 
                         "introArticle introArticle";
  }

  .intro-section__right-faces {
    transform: translateY(-50px);
  }

  .intro-section__article  {
    margin: 0 15%;
    transform: translateY(-50px);
  }

  .stylish-vertical-line {
    margin: 30px 0 70px 0;
  }

  .stylish-vertical-line--second {
    margin: 30px 0 0 0;
  }

  .middle-section {
    margin: 0 20px 40px 20px;
  }
  
  .middle-section__small-gallery {
    column-gap: 20px;
  }

  .middle-section__article {
    width: 450px;
    margin: 60px auto 0 auto;
  }

  footer {
    flex-direction: column;
    height: 400px;
    padding: 30px;
    gap: 0px;
    justify-content: space-around;
  }

  footer * {
    text-align: center;
  }
}


@media (max-width: 550px) {
  .intro-section__article  {
    margin: 0 10%;
  }

  .stylish-vertical-line {
    margin: 15px 0 70px 0;
  }

  .stylish-vertical-line--second {
    margin: 15px 0 0 0;
  }
  
  .middle-section__article {
    width: 320px;
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  header {
    height: 80px;
  }

  .intro-section {
    grid-template-rows: 280px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftFaces rightFaces" 
                         "introArticle introArticle";
  }

  .intro-section__right-faces {
    transform: translateY(-30px);
  }

  .intro-section__article  {
    margin: 0 30px;
  }

  .intro-section__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-section__left-faces-block--middle {
    transform: translateY(-30px);
  }
  
  .intro-section__right-faces-block--middle {
    transform: translateY(30px);
  }

  .middle-section__small-gallery {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  footer {
    height: 500px;
  }

}

@media (max-width: 350px) {
  .middle-section__article {
    width: 240px;
  }
}